body .container {
  height: 600px;
  width: 500px;
  background-color: var(--color-2);
}

body .containers {
  position: relative;
}
.containers .left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.containers .right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

body .container.active {
  background-color: var(--color-1);
}

.containers > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 160px;
  align-items: center;
}

.container > .player-main-points > h1 {
  font-size: 38px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.container > .player-main-points > h2 {
  font-size: 65px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
}

.container > .current-points-box {
  background-color: var(--color-2);
  padding: 20px 70px;
  border-radius: 15px;
  color: white;
  border: 1px solid black;
}

.container > .current-points-box > .current {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.container > .current-points-box > p {
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.container3 {
  background-color: black;
  color: red;
  animation-name: winner;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  max-width: 90%;
}

@keyframes winner {
  0% {
    color: black;
    transform: scale(0);
  }
  50% {
    background-color: red;
    transform: scale(1);
  }
}

@media (max-width: 1042px) {
  .container > .current-points-box {
    padding: 10px 55px;
  }
}

@media (max-width: 780px) {
  .container > .current-points-box {
    padding: 10px 40px;
  }
}

@media (max-width: 500px) {
  .containers .left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .containers .right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 2px;
  }
}

.dice {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 150px;
}
